@model IEnumerable<WebApp.ViewModels.VMUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Idusers }, new { @class = "btn btn-outline-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.Idusers }, new { @class = "btn btn-outline-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Idusers }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
